<app-basecard>
    <header>
        <div class="flex">
            <h1>Dinan's playground</h1>
            <h2>
                Everything is a risk, doing nothing is either. It's up to you.
            </h2>
        </div>
        <div>
            <nav>
                <div class="navItem">
                    <a routerLink="/home">Home</a>
                </div>
                <div class="navItem">
                    <a routerLink="/about">About us</a>
                </div>
            </nav>
        </div>
    </header>
</app-basecard>
