<app-basecard>
    <app-basecontainer>
        <h2>About us</h2>
        <p>
            This website started as a fun side-project to become more familliar
            with the Angular framework, while also keeping an eye out for
            styling and layout for the main pages at least ;-). Maybe it could
            be an inspiration source of some kind.
        </p>
        <br />
        <h3>Project info</h3>
        <div>
            <p><strong>Created</strong> the 29th of may 2024</p>
            <p><strong>Angular</strong> version 18 (Initial startup)</p>
            <p><strong>Command</strong> ng new --no-standalone --ssr</p>
            <p>
                This project is server side rendered and components are not
                standalone by default. They can be made standalone however by
                setting the "standalone" property to true in the component
                metadata.
            </p>
        </div>
    </app-basecontainer>
</app-basecard>
