<app-basecard>
    <h2>Welcome to home!</h2>
    <p>
        Welcome to another corner of the internet. This website started
        initially as a quick playground to become more familliar with the
        Angular framework. See the <a routerLink="/about">About</a> page for
        more.
    </p>
    <h3>Ideas for improvement</h3>
    <ul>
        <li>
            <strong
                >More 'input/props' availble for the BaseCard component</strong
            >. Think like background colour, border radius, margin and padding
            ect. Could also lead to improved visual alignment.
        </li>
        <li>
            <strong>App container cmp</strong>. Could be useful to containnarize
            things quickly. Would great if it has input options available like
            margin, padding ect.
        </li>
    </ul>
</app-basecard>
